* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F7F7F7;
}
.container {
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15));
    max-width: 600px;
    margin: 0 auto;
    margin-top: 42px;
    background-color: #fff;
}
.hero {
    background-image: url('../img/banner.png');
    height: 725px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.logo_img_container {
    display: flex;
    justify-content: center;
    gap: 35px;
    padding-top: 17px;
    align-items: center;
}
.title {
    width: 306px;
    font-family: 'Circe', sans-serif;
    font-size: 42px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}
.card {
    width: 117px;
    text-align: center;
}
.cont_wrapper {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 27px;
}
.title_card {
    font-family: 'Circe', sans-serif;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: #2E2E2E;
}
.promo_cont_wrapper_card {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.title_promo {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #2E2E2E;
}
.promo_cont_wrapper {
    border: 1px dashed #000000;
    padding: 11px 20px;
    margin-top: 8px;
}
.promo_cont_wrapper span {
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #2E2E2E;
    font-weight: bolder;
    display: inline-block;
}
.main {
    padding: 0 50px;
    margin-top: 54px;
}
.txt_cont {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    font-weight: 500;
}
.card_product img {
    width: 150px;
    height: 120px;
    border-radius: 7px;
}
.card_product a {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #476FC6;
    margin-top: 15px;
    display: block;
    font-weight: bold;
}
.card_product_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 40px;
}

.card_product_wrapper .card {
    flex: 1 1 calc(30% - 12.5px); /* Две карточки в ряд на всех разрешениях мобильных устройств */
}

@media(max-width:480px){
    .card_product_wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)); /* Два столбца с равным размером, минимум 45% ширины */
        gap: 25px;
        margin-top: 40px;
    }

    .card_product img {
        width: 100%;
        height: 120px;
        border-radius: 7px;
    }
    
}

button {
    background: #2ABE80;
    border: none;
    border-radius: 50px;
    padding: 18px 45px;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    width: fit-content;
    margin: 0 auto;
    margin-top: 16px;
    cursor: pointer;
}
.copyright {
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C4C4C4;
    margin-top: 68px;
    padding-bottom: 30px;
}
.footer {
    max-width: 540px;
    margin: 0 auto;
    margin-top: 36px;
}
.cont_footer {
    display: flex;
    gap: 62px;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 5px;
}
.phone a {
    font-family: 'Arial', sans-serif;
    font-size: 17px;
    line-height: 27px;
    color: #2ABE80;
    text-decoration: none;
}
.footer_copyright {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #A3A3A3;
    text-align: center;
    margin-top: 29px;
}
.btn_footer_cont {
    display: flex;
    gap: 52px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 23px;
}
.unsubscribe,
.web_version {
    display: flex;
    gap: 5px;
    align-items: center;
}
.unsubscribe a,
.web_version a {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #A3A3A3;
    text-decoration: none;
}

.txt_link{
    color: #476FC6;
}

.bold{
    font-weight: bold;
}
